<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{block "rss" .}}
     <link rel="alternate" type="application/rss+xml" title="RSS Feed For {{.RelPermalink}}" href="index.xml" />
     <link rel="alternate" type="application/rss+xml" title="RSS Feed For Marginalia.nu" href="/index.xml" />
    {{end}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">

	{{- end }}
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
  {{- if .Site.Params.opengraph }} {{ template "_internal/opengraph.html" . }} {{- end }}
	{{- if .Site.Params.schema }} {{ template "_internal/schema.html" . }} {{- end }}
	{{- if .Site.Params.twitter_cards }} {{ template "_internal/twitter_cards.html" . }} {{- end }}
    <title>{{ block "title" . }}
      {{ with .Title }}
        {{ . }} |
      {{ end }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    {{ block "header" .}}
    {{ end }}
    
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </body>
  {{block "scripts" .}}
  {{end}}
</html>
