<nav id="breadcrumb" aria-label="breadcrumb">
<ul>
    <li>
        {{ partial "home/icon.html" . }}
         <a href="/">Marginalia</a>
    </li>
    
    {{ if .CurrentSection.Parent }}
    <li>
        {{ partial "section/icon.html" .CurrentSection }} 
        <a href="{{ .CurrentSection.Permalink }}"> {{ .CurrentSection.LinkTitle }}</a>
    </li>
    {{ end }}

    <li class="active">
        {{ partial "post/icon.html" . }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    </li>
</ul>
</nav>